#header {
    padding-top: 5rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
    height: 200px;
    min-width: 850px;
    background-color: #3E2070;
    background-image: url("../img/mounted_games.png");
    background-repeat: no-repeat;
    background-position: 100%;
}

#name {
    font-size: 4rem;
    font-style: italic;
    font-family: serif;
    color: #d8d8ff;
}

#tagline {
    font-size: 2rem;
    font-family: serif;
    color: #c0c0ff;
}

.tabs {
    margin: 2rem;
    min-width: 12rem;
}

.tabs dd {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    color: #500090;
}

.tabs dd > a {
    color: #500090;
    font-family: serif;
    font-size: larger;
}
.tabs-content.vertical {
    float: none;
    margin-left: 0
}

.tabs-content {
    padding-left: 3rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    background-color: white;
    min-height: 1000px;
    min-width: 850px;
}

h1, h2, h3, h4, h5, h6 {
    color: #500090;
    font-family: serif;
}

body {
    background-color: lightgrey;
}

#container {
    background-color: white;
    margin: 2rem 5% 2rem 5%;
}

#main {

}